body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgoldenrodyellow;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    border: 1px solid lightcoral;
}

section {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    border: 1px solid black;
    padding: 10px;
    background-color: lightgreen;
    margin-bottom: 24px;
}

.contenedor-dados {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

img {
    margin: 10px;
}